%div{:class => message.reply? ? 'reply' : 'message'}
  .date
    = time_ago_in_words message.created_at
    ago
  .text
    - if message.reply?
      = image_tag message.image.url
      
    - else    
      %p.subject= message.subject
      %p= simple_format OEmbed.transform(message.text)
      
      - if message.images?
        .stack{:onclick => "go('#{album_path(message)}')"}
          .image{:style => "background: transparent url(#{message.image.url(:stack)}) no-repeat"}