- content_for :head do
  = javascript_include_tag 'canvas'

#left

#right
  .content
    - form_for @message, :html => { :multipart => true }  do |f|
      #container
        <canvas id="imageView" width="536" height="900">
        </canvas>
      
      - f.fields_for "images", Image.new do |i|
        = i.text_field :attachment
      
      = f.hidden_field :contact_id
      
      = button_to_function "Export", "$('#message_images_attributes_0_attachment').val(document.getElementById('imageView').toDataURL())"
      = button_to_function "Read", "window.open($('#message_images_attributes_0_attachment').val())"
      
      = f.submit 'Send'