- content_for :head do
  = javascript_include_tag 'canvas'
  
:javascript
  $(function() {
    var canvas = document.getElementById('imageView');
    
    $('#new_message').submit(function() {
      $('#message_images_attributes_0_attachment64').val(canvas.toDataURL());
    });
    
    $('.erase').click(function() {
      canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
    })
  });
  
- form_for @message do |f|
  #left
    .content
      = render @message.contact
    
      .send= image_submit_tag 'send.png'
      .erase= image_tag 'erase.png'

  #right
    #container
      <canvas id="imageView" width="576" height="460">
      </canvas>
    
    - f.fields_for "images", Image.new do |i|
      = i.hidden_field :attachment64
  
    = f.hidden_field :contact_id