:javascript

  var i = 1;
  var iMin = 1;
  var iMax = #{((@contacts.size/@per_page)).ceil};
  
  $(function() {
    $('#page-right .content').css('top', (-1 * $('.container').css('height').substr(0, 3) + 'px'));
    
    hideNext();
  });
  
  function hideNext() {
    if ((i+2) > iMax) {
      $("#next").hide();
    }
    if ((i+1) > iMax) {
      $('#page-right .pagination').hide();
    }
  }
  
  function updatePage() {
    $('#page-left .content').css('top', (-1 * (i-1) * $('.container').css('height').substr(0, 3) + 'px'));
    $('#page-right .content').css('top', (-1 * i * $('.container').css('height').substr(0, 3) + 'px'));
    
    if (i > 0) {
      $('#previous').show();
    }
    if (i < iMax) {
      $('#next').show();
    }
    if (i == iMin) {
      $('#previous').hide();
    }
    if ((i+2) > iMax) {
      $('#next').hide();
    }
    
    hideNext();
    
    $('#page-left .pagination span').html(i);
    $('#page-right .pagination span').html(i+1);
  }
  function nextPage() {
    i = i + 2;
    updatePage();
  }
  function previousPage() {
    i = i - 2;
    updatePage();
  }

#page-left
  #previous.hide{:onclick => "previousPage();"}
  .pagination
    %span
      1
    = "/#{(@contacts.size / (@per_page)).ceil}"
  #header
    .icon= image_tag 'contacts.png'
    .text My Contacts
  .wrapper
    .container
      .content
        - @groups.each do |group|
          .page
            - group.each do |contact|
              = render 'new_contact', :contact => contact
            
#page-right
  #next{:onclick => "nextPage();"}
  .pagination
    %span
      2
    = "/#{(@contacts.size / (@per_page)).ceil}"
  #header
    my contact
  .wrapper
    .container
      .content
        - @groups.each do |group|
          .page
            - group.each do |contact|
              = render 'new_contact', :contact => contact