:javascript
  var i = 0;
  function updatePage() {
    top = $('.inside-container').css('top');
    $('.inside-container').css('top', -1 * i * $('.container').css('height').substr(0, 4) + 'px');
    if (i < 0) {
      $('#previous').show();
    }
    if (i == 0) {
      $('#previous').hide();
    }
  }
  function nextPage() {
    i = i - 1;
    updatePage();
  }
  function previousPage() {
    i = i + 1;
    updatePage();
  }

#page
  .content
    = render @contact
    
    .phone
      = link_to image_tag('interface/bphone.png'), call_contact_path
    .write
      = link_to image_tag('interface/bwrite.png'), new_message_path(:contact_id => @contact.id)

    .clear

    .container
      .inside-container
        - @messages.each do |message|
          = render message
    
    #previous.hide
      = link_to_function image_tag('previous.png'), 'previousPage()'
      
    #next
      = link_to_function image_tag('next.png'), 'nextPage()'