#page
  .content
    = render @contact
    
    .phone
      = image_tag 'interface/bphone.png'
    .write
      = link_to image_tag('interface/bwrite.png'), new_message_path(:contact_id => @contact.id)

    .clear

    - @messages.each do |message|
      = render message
      
    .button
      = link_to image_tag('next.png'), paged_images_albums_url(:id => @album.id, :page => @images.next_page)