:javascript
  $(function() {
    $('#messages').jCarouselLite({
      vertical: true,
      btnPrev: ".up",
      btnNext: ".down",
      visible: "#{@contact.messages.count}"
    });
    
    $("#navigation").height($(window).height() - 475);
  })


.yui-g
  .yui-u.first
    #left
      #user
        .image
          = link_to image_tag(@contact.image_path, :width => 100), contacts_url
        .name= @contact.name
        .clear

      - unless @images.empty?
        #images
          = "#{@images.current_page}/#{@images.total_entries}"
          = image_tag @images.first.url, :width => '400px'
        
          - if @images.previous_page
            .previous= link_to image_tag('previous.png'), paged_images_contacts_url(:id => @contact.id, :page => @images.previous_page)
            
          - if @images.next_page
            .next= link_to image_tag('next.png'), paged_images_contacts_url(:id => @contact.id, :page => @images.next_page)
        
  .yui-u
    #right
    
      #write
        = link_to "Write a new message"
      
      / #navigation
      /         .up= image_tag 'icons/up_64.png'
      /         .down= image_tag 'icons/down_64.png'

      .clear