:javascript
  var i = 0;
  function updatePage() {
    top = $('#messages').css('top');
    $('#messages').css('top', i * 1600 + 'px');
    if (i < 0) {
      $('#previous').show();
    }
    if (i == 0) {
      $('#previous').hide();
    }
  }
  function nextPage() {
    i = i - 1;
    updatePage();
  }
  function previousPage() {
    i = i + 1;
    updatePage();
  }

#page
  .content
    = render @contact
    
    .phone
      = image_tag 'interface/bphone.png'
    .write
      = link_to image_tag('interface/bwrite.png'), new_message_path(:contact_id => @contact.id)

    .clear

    #messages-container
      #messages
        - @messages.each do |message|
          = render message
    
    #previous.hide
      = link_to_function image_tag('previous.png'), 'previousPage()'
      
    #next
      = link_to_function image_tag('next.png'), 'nextPage()'