#page
  .content
    .contact
      .picture
        = image_tag(@contact.image_path, :width => 65)
      .name
        = @contact.name
    
    .phone
      = image_tag 'interface/bphone.png'
    .write
      = link_to image_tag('interface/bwrite.png'), new_message_path(:contact_id => @contact.id)

    .clear

    - @messages.each do |message|
      = render message