:javascript

  var i = 1;
  var iMin = 1;
  var iMax = #{@album.pages};
  
  $(function() {
    $('#page-right .content').css('top', (-1 * $('.container').css('height').substr(0, 3) + 'px'));
    
    hideNext();
  });
  
  function hideNext() {
    if ((i+2) > iMax) {
      $("#next").hide();
    }
    if ((i+1) > iMax) {
      $('#page-right .pagination').hide();
    }
  }
  
  function updatePage() {
    $('#page-left .content').css('top', (-1 * (i-1) * $('.container').css('height').substr(0, 3) + 'px'));
    $('#page-right .content').css('top', (-1 * i * $('.container').css('height').substr(0, 3) + 'px'));
    
    if (i > 0) {
      $('#previous').show();
    }
    if (i < iMax) {
      $('#next').show();
    }
    if (i == iMin) {
      $('#previous').hide();
    }
    
    hideNext();
    
    $('#page-left .pagination span').html(i);
    $('#page-right .pagination span').html(i+1);
  }
  function nextPage() {
    i = i + 2;
    updatePage();
  }
  function previousPage() {
    i = i - 2;
    updatePage();
  }

#page-left
  #previous.hide{:onclick => "previousPage();"}
  .pagination
    %span
      1
    = "/#{@album.pages}"
  .wrapper
    = render 'contacts/new_contact', :contact => @album.contact
    .container
      .content
        - @images.each do |image|
          .page{:class => image.orientation.to_s}
            = render 'new_image', :image => image
                        
#page-right
  #next{:onclick => "nextPage();"}
  .pagination
    %span
      2
    = "/#{@album.pages}"
  .wrapper
    .subject= @album.subject
    .container
      .content
        - @images.each do |image|
          .page{:class => image.orientation.to_s}
            = render 'new_image', :image => image