%html
  %head
    = stylesheet_link_tag 'reset-fonts-grids.css'
    = stylesheet_link_tag 'home'
    
    = javascript_include_tag 'jquery-1.4.2.min.js'
    = javascript_include_tag 'jcarousellite_1.0.1.min'
    = javascript_include_tag 'application'
    
    / %meta{"http-equiv" => "refresh", :content => 5}
  %body
    :javascript
      $(function() {
        
        document.onmousedown = function() {return false;}
        
        $(".fullheight").height($(window).height() - 105);
        $("#bd .content").css('min-height', $(window).height() - 105);
      });
      
    #dashboard
      .content
        .buttons
          #contacts-button
            = link_to 'Contacts', contacts_path
          #messages-button
            = link_to 'Messages', messages_path
          
    #refresh
      /= link_to "Refresh"
    
    #doc3{:class => "#{controller.controller_name} #{controller.action_name}"}
      #bd.fullheight
        = yield